In [1]:
import pandas as pd

import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tokenize import TweetTokenizer
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from string import punctuation

In [2]:
woclodf=pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
woclodf.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
woclodf.shape

(23486, 11)

In [13]:
sid = SentimentIntensityAnalyzer()

In [14]:
eng_stopwords = stopwords.words('english')

In [16]:
def reviewSentiment(review):
    
    try:
    
        review = review.lower()

        tknz_review = word_tokenize(review)
    
        for token in tknz_review:
            if token in punctuation:
                tknz_review.remove(token)
    
        clean_tokens = []
    
        for token in tknz_review:
            if token not in eng_stopwords:
                clean_tokens.append(token)
            
        clean_review = ' '.join(clean_tokens)
    
        sid_rev = sid.polarity_scores(clean_review)
    
        r_comp = sid_rev['compound']
    
        return r_comp
    except:
        return None

In [17]:
woclodf['Review Sentiment'] = woclodf['Review Text'].apply(reviewSentiment)

In [18]:
woclodf.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Review Sentiment
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.8991
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.9710
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.9062
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.9464
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.9117

In [19]:
woclodf.tail()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Review Sentiment
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses,0.8979
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits,0.7579
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses,0.9100
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses,0.8272
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses,0.9286

In [21]:
woclodf[95:100]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Review Sentiment
95,95,863,83,Casual elegance!,"Purchased this top online, and when i received...",5,1,14,General,Tops,Knits,0.9712
96,96,845,44,NaN,I usually wear a medium and bought a small. it...,1,0,0,General Petite,Tops,Blouses,0.9260
97,97,861,44,Huge,I was very excited to order this top in red xs...,1,0,0,General Petite,Tops,Knits,0.8807
98,98,1133,50,NaN,NaN,5,1,0,General,Jackets,Outerwear,NaN
99,99,861,33,Pernette henley,I am in need of easy comfortable tops for ever...,3,0,17,General Petite,Tops,Knits,0.9745

In [22]:
woclodf.shape

(23486, 12)

In [28]:
finaldf=woclodf.loc[woclodf['Review Text'].notnull()]

In [29]:
finaldf.shape

(22641, 12)

In [31]:
finaldf[92:98]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Review Sentiment
94,94,850,23,"Beautifully made, but not versatile",This shirt caught my eye because of how beauti...,4,1,3,General Petite,Tops,Blouses,0.9477
95,95,863,83,Casual elegance!,"Purchased this top online, and when i received...",5,1,14,General,Tops,Knits,0.9712
96,96,845,44,NaN,I usually wear a medium and bought a small. it...,1,0,0,General Petite,Tops,Blouses,0.9260
97,97,861,44,Huge,I was very excited to order this top in red xs...,1,0,0,General Petite,Tops,Knits,0.8807
99,99,861,33,Pernette henley,I am in need of easy comfortable tops for ever...,3,0,17,General Petite,Tops,Knits,0.9745
100,100,861,39,Comfy,At first i wasn't sure about it. the neckline ...,4,1,0,General Petite,Tops,Knits,0.1106